﻿@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <h1>SIMDb</h1>
    <p class="lead">Simulating IMDb because it's fun!</p>
    <p>@Html.ActionLink("Movies you say?", "Index", "Movies", null, new { @class = "btn btn-success btn-lg" })</p>
    <p><a href="https://imdb.com" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer" >IMDb you say? &raquo;</a></p>
</div>